.fancy {
    background-color: transparent;
    border: 2px solid #000;
    cursor: pointer;
    display: inline-block;
    letter-spacing: 0.05em;
    padding: .6rem 1rem;
    position: relative;
    text-align: center;
    transition: all 0.3s ease-in-out;
    user-select: none;
    text-transform: uppercase;
    font-weight: 600;
}

.inverted {
    filter: invert(100%);
}

.fancy .text {
    font-size: 1.125em;
    line-height: 1.33333em;
    display: block;
    text-align: left;
    transition: all 0.3s ease-in-out;
    color: black;
}

.fancy .top-key {
    height: 2px;
    width: 1.5625rem;
    top: -2px;
    left: 0.625rem;
    position: absolute;
    background: var(--white);
    transition: width 0.5s ease-out, left 0.3s ease-out;
}

.fancy .bottom-key-1 {
    height: 2px;
    width: 1.5625rem;
    right: 1.875rem;
    bottom: -2px;
    position: absolute;
    background: var(--white);
    transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy .bottom-key-2 {
    height: 2px;
    width: 0.625rem;
    right: 0.625rem;
    bottom: -2px;
    position: absolute;
    background: var(--white);
    transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy:hover {
    color: white;
    background: black;
}

.fancy:hover::before {
    width: 0.9375rem;
    background: white;
}

.fancy:hover .text {
    color: white;
    font-size: var(--petite-police);
}

.fancy:hover .top-key {
    left: -2px;
    width: 0px;
}

.fancy:hover .bottom-key-1,
.fancy:hover .bottom-key-2 {
    right: 0;
    width: 0;
}

@media screen and (max-width: 376px) {
    .fancy {
        padding: .5rem 1rem;
        font-size: .8rem;
    }
}