.travail {
    margin: 6rem 0 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.travailConatiner {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.travailConatiner h1 {
    margin-bottom: 2rem;
    font-weight: 700;
}

.travailConatiner h2 {
    margin-bottom: 1rem;
}

.travailConatiner p {
    color: var(--black);
    padding: 0;
    margin: 0 0 1rem 0;
    font-size: 1.1rem;
}

.travailConatiner .item {
    border-bottom: 1px solid var(--border-color);
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.travailConatiner .item:last-child {
    border-bottom: 0;
}

@media screen and (max-width: 1025px) {
    .travailConatiner {
        width: 80%;
    }
}

@media screen and (max-width: 469px) {
    .travailConatiner {
        width: 100%;
    }
}