.litige {
    margin: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.litigeContainer {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.litigeContainer h1 {
    margin-bottom: 2rem;
    font-weight: 700;
}

.litigeContainer h2 {
    margin-bottom: 1rem;
}

.litigeContainer p {
    color: var(--black);
    font-size: var(--petite-police);
    padding: 0;
    margin: 0 0 1rem 0;
}

.litigeContainer .item {
    border-bottom: 1px solid var(--border-color);
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.litigeContainer .item:last-child {
    border-bottom: 0;
}

@media screen and (max-width: 1025px) {
    .litigeContainer {
        width: 80%;
    }
}

@media screen and (max-width: 469px) {
    .litigeContainer {
        width: 100%;
    }
}