.menu-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .1rem;
    color: var(--black);
}

.menu-link ion-icon {
    font-size: 1.6rem;
}

.menu-link span {
    font-size: 12px;
    font-weight: 600;
}